language: node_js
node_js:
  - node
cache:
  directories:
    - node_modules
notifications:
  email: false
before_script:
  - cd ./web
  - npm prune
script:
  - npm run build
after_success:
  - cd ..
deploy:
  provider: script
  skip_cleanup: true # do not delete the built assets
  script: bash ./scripts/deploy
  on:
    branch: master
env:
  global:
  - SOURCE_BRANCH: master
  - TARGET_BRANCH: gh-pages
