<attachment name="app_template">
  <div>

    <br>
    <h3> Create channel-specific masks for image segmentation </h3>
    <br>


    <!-- Card to specify masks -->
    <div class="card">

      <div class="card-header">
        <div class="card-title h5">Define mask types</div>
        <div class="card-subtitle text-gray">Specify for each channel which mask types should be generated. </div>
      </div>

      <div class="card-body">

        <!-- Mask generator: form to create add a new channel -->
        <form class="form-horizontal">
          <div class="form-group">

            <!-- Add button name -->
            <div class="col-1 col-sm-12">
              <button class="btn btn-action btn-primary btn-lg s-circle" @click="add_channel" :disabled="ch_name.length==0 && ch_ident.length==0 && ch_masks.length==0"><i class="icon icon-plus"></i></button>
            </div>

            <!-- Channel name -->
            <div class="col-3 col-sm-12">
              <div class="input-group">
                <span class="input-group-addon">Channel</span>
                <input type="text" class="form-input" placeholder="Name of channel" v-model="ch_name">
              </div>
            </div>

            <!-- Channel identifier -->
            <div class="col-1 col-sm-12"></div>
            <div class="col-3 col-sm-12">
              <div class="input-group">
                <span class="input-group-addon">Identifier</span>
                <input type="text" class="form-input" placeholder="Unique string" v-model="ch_ident">
              </div>
            </div>

            <!-- Which masks -->
            <div class="accordion">
              <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
              <label class="accordion-header" for="accordion-1">
                <i class="icon icon-arrow-right mr-1"></i>
                Select mask type(s)
              </label>
              <div class="accordion-body">
                <ul class="menu">
                  <!-- Filled mask-->
                  <li class="menu-item">
                    <label class="form-checkbox">
                      <input type="checkbox" id="filledmask" value="filled" v-model="ch_masks">
                      <i class="form-icon"></i> Filled mask
                    </label>
                  </li>
                  <!-- Edge mask-->
                  <li class="menu-item">
                    <label class="form-checkbox">
                      <input type="checkbox" id="edgemask" value="edge" v-model="ch_masks">
                      <i class="form-icon"></i> Edge mask
                    </label>
                  </li>
                  <!-- Distance map-->
                  <li class="menu-item">
                    <label class="form-checkbox">
                      <input type="checkbox" id="distancemap" value="distance" v-model="ch_masks">
                      <i class="form-icon"></i> Distance map
                    </label>
                  </li>
                  <!-- Weighted edge-->
                  <li class="menu-item">
                    <label class="form-checkbox">
                      <input type="checkbox" id="weightedmask" value="weigthed" v-model="ch_masks">
                      <i class="form-icon"></i> Weighted edge
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
        <!-- Mask generator: end of form to create add a new channel -->


        <!-- Mask generator: table containing masks to be created -->
        <div style="text-align: center;">

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th>Mask</th>
                <th>Remove?</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="ch in channels" :key="ch.name">
                <td>{{ch.name}}</td>
                <td>{{ch.identifier}}</td>
                <td>
                  <span v-for="m in ch.masks" :key="m">{{m}}, </span>
                </td>
                <td>
                  <button class="btn btn-primary action btn-lg s-circle" @click="remove_channel(ch)"><i class="icon icon-delete"></i></button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <!-- Mask generator: end of table containing masks to be created -->

      </div>
    </div>
    <!-- End of card to specify masks -->



    <!-- Card to generate masks -->
    <div class="card">

      <div class="card-header">
        <div class="card-title h5">Create masks</div>
        <div class="card-subtitle text-gray">Select outlines to be processed and generate masks. </div>
      </div>

      <div class="card-body">

        <!-- Form to specify mask type and image extensions -->
        <form class="form-horizontal">
          <div class="form-group">

            <!-- Annotation extension -->
            <div class="col-4 col-lg-12">
              <div class="input-group">
                <span class="input-group-addon">Annotation file extension</span>
                <input type="text" class="form-input" v-model="annot_ext">
              </div>
            </div>

            <!-- Annotation Type -->
            <div class="col-1 col-lg-12"></div>
            <div class="input-group">
              <span class="input-group-addon">Annotation type</span>
              <div class="form-group">
                <label class="form-radio form-inline">
                  <input type="radio" v-model="annot_type" value="geojson" checked=""><i class="form-icon"></i> GeoJson
                </label>
                <label class="form-radio form-inline">
                  <input type="radio" v-model="annot_type" value="fiji"><i class="form-icon"></i> Fiji
                </label>
              </div>
            </div>

            <!-- Image size -->
            <div class="col-1 col-lg-12"></div>
            <div class="input-group" v-if="annot_type=='fiji'">
              <span class="input-group-addon">Image size</span>
              <input type="text" class="form-input" v-model="img_size">
            </div>
          </div>
        </form>
        <!-- END: Form to specify mask type and image extensions  -->

        <!-- Form with button to open and process files/folders -->
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-2 col-lg-12">
              <button class="btn btn-primary" @click="create_masks">Select files or folder and create masks</i></button>
            </div>
            <div class="col-3 col-lg-12"></div>
            <div class="col-5 col-lg-12">
              <label class="form-checkbox">
                <input type="checkbox" id="searchRecursive" v-model="search_recursive">
                <i class="form-icon"></i> Recursively search directories
              </label>
            </div>
          </div>
        </form>
        <!-- END: Form with button to open and process files/folders -->

      </div>
    </div>
    <!-- End of card to generate masks -->


  </div>
</attachment>
